
</div> <!-- end of content container wrapper -->
<footer>
        <div class="resource container">
          <div class="block">
            <a href="https://nodejs.org/en/" title=""><span class="tag is-white">nodejs</span></a>
            <a href="http://bulma.io/" title=""><span class="tag is-white">bulma</span></a>
            <a href="http://expressjs.com/" title=""><span class="tag is-white">expressjs</span></a>
          </div>
        </div>
        <div class="block copyRight">
          <p class="content is-small"> &copy; 2017 data provided by the beer mapping <a href="https://beermapping.com/" title="" class="is-link api">api</a> and a little bit of fun</p>

        </div> <!-- end of footer container -->
</footer>
<script src="script.js"></script>
</body>
</html>