<!DOCTYPE html>
<html>
<head>
	<title>Bar Search</title>
  

<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/manifest.json">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico">
<meta name="msapplication-config" content="/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">



	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
		<div class="headerBdy">	
      <header class="container">
      
      <nav class="nav navbar">
        <div class="nav-left">
          <a href="/" class="nav-item">
            <h1><img src="img/bsword2x.png" alt=""></h1>
          </a>
        </div>

        <div class="nav-center">
          <a href="https://github.com/LawrenceAudena" class="nav-item">
            <span class="icon">
              <i class="fa fa-github" ></i>
            </span>
          </a>
          <a href="https://twitter.com/cookiestpreux" class="nav-item">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
        </div>

        <div class="nav-right nav-menu is-active">
          <a href="mailto:me@lawrenceaudena.com" class="nav-item content is-small">Contact</a>
        </div>
      </nav>

    </header> <!-- container -->
  </div>  <!-- end header body -->

  <div class="container">