  <div class="bdyContent">

    <div class="container">
			<div class="block mainIndex">
				<h1 class="title is-1 meat"><img src="img/barsearchlogo.png" alt="" class="logo"></h1>
				<!-- <h2 class="subtitle"> searching for a bar name </h2> -->
				<h3 class="content is-small">You're looking to open a bar and just haven't figured out what to name it. See what's already in use. </h3>
			</div>
			<div class="search block">
        <div class="field">
  				<form action="results" method="GET" class="mainSearch">
  					<input type="text" placeholder="search..." id="search" name="search" class="input">
  						<button type="submit" class="button is-primary is-medium">search</button>
  						<p id="loading" class="content is-small"></p> 
  				</form>
         </div>
			</div>
    </div>

  </div> <!-- end of body content -->